@charset "utf-8";

html,
body {
	
}
body {
	min-width: 375px;
}
.b-desktop-only{
	display: none;
}
.b-mobile-only{
	display: block;
}
a{

}
label.error{

}
input.error,textarea.error{

}
.fancybox-inner{

}
.bold{

}
.underline{

}
.white{

}
.b{

}
b{

}
.b-block{
	width: 327px;
}
.b-absolute{

}
input::-webkit-input-placeholder {

}
input:-moz-placeholder {

}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

}
[class^="icon-"]:before, 
[class*=" icon-"]:before  {



}
h2, h3, h4, h5, p{

}
h2{font-size: 32px;line-height: 36px;}
h3{

}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input[type="text"]{
	padding-left: 28px;
	padding-right: 28px;
}
.b-btn{
	font-size: 16px;
	line-height: 27px;
	padding: 10px 12px 14px;
	width: 100%;
	margin: 0px;
}
.b-btn.one-line{

}
.b-purple-btn{

}
	.b-1 .b-transparent-btn{
		display: none;
	}
	.b-purple-btn b{
		font-size: 22px;
	}
	.b-purple-btn:active{
		background-color: #5827A9;		
		box-shadow: 0px 0px 0px 3px #5827A9, 0px 0px 0px 17px rgba(255,255,255,0.3);
	}
	.b-purple-btn.with-purple-border{

	}
		.b-purple-btn.with-purple-border:active{
			box-shadow: 0px 0px 0px 3px #5827A9, 0px 0px 0px 17px rgba(128,90,190,0.1);
		}
.b-white-btn{

}
	.b-white-btn b{
		font-size: 24px;
	}
	.b-white-btn:active{
		background-color: #FFF;		
		box-shadow: 0px 0px 0px 3px #FFF, 0px 0px 0px 17px rgba(255,255,255,0.2);
	}
.b-1{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url('../i/mobile-back.jpg');
	background-size: cover;
	height: 100vh;
	min-height: 540px;
}
	.b-1 .b-back-cont{
		display: none;
	}
		.b-1 .b-back{

		}
		.b-1 .b-back-cont svg{

		}
		.svg-sun{

		}
		.svg-balloon{

		}
		.svg-yeti{

		}
		.svg-yeti2{

		}
	.b-1 .b-block{
		height: 100%;
	}
		.b-1 .b-top{

		}
			.b-logo{
				width: 73px;
				height: 100px;
				background-size: 73px;
			}
			.b-top-menu{
			    margin-left: 28px;
			}
				.b-top-menu a{

				}
				.b-top-menu .b-menu-btn{

				}
					.b-top-menu .b-menu-btn span{

					}
				.b-top-phone{

				}
				.b-icon-phone:before{

				}
		.b-header{height: calc( 100% - 100px );}
			.b-header-text{
				max-width: 650px;
			}
				.b-header-text h1{
					font-size: 32px;
					line-height: 40px;
				}
				.b-header-text h3{
					font-size: 18px;
					line-height: 26px;
					margin-bottom: 44px;
				}
					.svg-line{
						display: none;
					}
				.b-header-text .b-btn{
					
				}
.b-cost-bg{
	display: none;
}
.b-menu-btn{
	display: none !important;
}
.toggle-button {
    display: inline-block !important;
    background-image: url(../i/menu.svg);
    background-color: rgba(0, 0, 0, 0);
    height: 35px;
    width: 30px;
    border: none;
    margin-top: 15px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 40px;
    left: 106px;

}
.b-top-phone{
	top: -20px;
}






.b-popup{
	width: 359px;
	padding: 36px 24px 50px;
}
.b-popup-close{
	font-size: 0px;
	width: 40px;
	height: 40px;
	right: 7px;
	top: 5px;
	background: url('../i/mobile-cross.svg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
	.b-popup-close:active{
		color: #373737;
		background-image: none;
	}
.b-quiz-popup{
	padding: 0px;
	width: 359px;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-image: url('../i/quiz-mobile.jpg');
	background-size: 100%;
	overflow: visible;
}
	.b-quiz{
		background: none;
	}
	.b-quiz-1{
		padding: 36px 24px 50px;
	}
		.b-quiz h2{
			text-align: center;
			font-size: 28px;
			line-height: 34px;
			margin-bottom: 28px;
		}
			.b-quiz h2 b{
				
			}
		.b-radio-block{
			margin-left: 8px;
			padding-bottom: 12px;
		}
			.b-radio{

			}
				.b-radio input[type="radio"]{

				}
				.b-radio label{

				}
					.b-radio label:before{

					}
					.b-radio label:active:before{
						border: 2px solid #805ABE;
						box-shadow: 0 10px 20px 0 rgba(128,90,190,0.25);
					}
					.b-radio input[type="radio"]:checked + label:before{

					}
					.b-radio label:after{

					}
					.b-radio input[type="radio"]:checked + label:after{

					}
					.b-radio label b{
						font-size: 24px;
						line-height: 28px;
					}
					.b-radio label span{
						font-size: 18px;
						line-height: 28px;
					}
						.b-radio input[type="radio"]:checked + label span{

						}
		.b-quiz-1 .b-btn{

		}
	.b-quiz-2{
		padding: 36px 24px 0px;
	}
		.b-quiz-tour{

		}
			.b-quiz-tour h2{
				text-align: left;
				margin-bottom: 4px;
			}
			.b-quiz h3{
				font-size: 20px;
				line-height: 28px;
				margin-bottom: 22px;
			}
			.b-quiz h3.b-quiz-subtitle{
				margin-bottom: 22px;
			}
			.b-quiz-price{
				margin-bottom: 20px;
			}
				.b-quiz-old-price{
					font-size: 20px;
					line-height: 28px;
					margin-bottom: 8px;
				}
					.b-quiz-old-price:after{
						width: 104px;
						background-size: 104px;
					}
					.b-quiz-sale{

					}
						.b-quiz-sale b{

						}
				.b-quiz-new-price{
					font-size: 28px;
					line-height: 34px;
					margin-bottom: 2px;
				}
				.b-quiz-price h3{
					font-size: 20px;
					line-height: 28px;
				}
					.b-quiz-price h3 a{

					}
						.b-quiz-price h3 a:active{
							background-image: none;
						}
			.b-quiz.b-mb-8{

			}
			.b-quiz ul{

			}
				.b-quiz ul li{

				}
					.b-quiz ul li:before{

					}
					.b-quiz ul li h3{

					}
		.b-quiz-form{

		}
	.b-quiz-form{
		width: 359px;
		margin-right: -24px;
		border-radius: 5px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		padding: 24px 24px 31px;
		position: relative;
		top: 2px;
	}
		#b-popup-avia{
			background-color: none;
		}
		.b-quiz-form.avia{
			width: 100%;
			margin-right: 0px;
			border-radius: 5px;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			padding: 24px 24px 31px;
			position: relative;
			top: 2px;
		}
		.b-quiz-form *{

		}
		.b-quiz-form h3{
			font-size: 24px;
			line-height: 32px;
		}
		.b-inputs{

		}
		.b-checkbox{
			
		}
		.b-quiz-form .b-checkbox{

		}
			.b-checkbox input[type="checkbox"]{
				
			}
			.b-checkbox label{
				font-size: 18px;
				line-height: 28px;
			}
				.b-checkbox label span{
					right: 0px;
				}
				.b-checkbox label:before{

				}
				.b-checkbox label:after{

				}
				.b-checkbox label:active:after{
					opacity: 0.3;
				}
				.b-checkbox input[type="checkbox"]:checked + label:after{

				}
			.b-quiz-form .b-btn{
				padding: 12px 12px 12px;
			}
			.b-quiz-form small{
				font-size: 12px;
				line-height: 18px;
			}
				.b-quiz-form small a{

				}
					.b-quiz-form small a:active{
						text-decoration: none;
					}
.b-set-popup{
	width: 359px;
	background: #FFF;
}
	.b-set-popup h2{
		font-size: 28px;
		line-height: 34px;
	}
	.b-set{
		margin-left: -24px;
		padding-top: 32px;
		margin-bottom: 4px;
	}
		.b-set-item{
			width: 100%;
			margin-right: 0px;
		}
		.b-set-item:last-child{

		}
			.b-set-item .b-image{
				float: left;
				width: calc( 100% - 160px );
				margin-left: 0px;
				margin-bottom: 33px;
			}
			.b-set-item .b-image-1{
				height: 127px;
				background-size: 150px;
				background-position: 25% 54%;
				background-image: url("../i/set-1-mobile.jpg");
			}
			.b-set-item .b-image-2{
				height: 81px;
				background-size: 141px;
				background-position: 49% 50%;
				margin-top: 6px;
				margin-bottom: 46px;
				background-image: url("../i/set-2-mobile.jpg");
			}
			.b-set-item .b-image-3{
				height: 130px;
				background-size: 144px;
				background-position: 50% 54%;
				margin-top: -19px;
				background-image: url("../i/set-3-mobile.jpg");
			}
			.b-set-item h3{
				font-size: 18px;
				float: left;
				width: 160px;
				line-height: 28px;
				font-size: 18px;
				text-align: left;
			}
				.b-set-item h3 b{
					font-size: 24px;
				}
		.b-set-h3-bottom{
			font-size: 20px;
			line-height: 28px;
			text-align: left;
		}
	.b-set-popup .b-btn{

	}
.b-thanks{
	
}
	.b-thanks h2{

	}
	.b-thanks h3{
		font-size: 20px;
		line-height: 28px;
	}
.b-3 .b-block{
	padding: 0px;
	padding-bottom: 10px;
}
.b-2 h2{
	margin-bottom: 37px;
}
.b-2{
	background-position: 50% 26%;
	background-size: 100%;
    padding-bottom: 81px;
    overflow: hidden;
    padding-top: 53px;
}
.b-advantage{
	width: 327px;
	margin-right: 24px;
	margin-left: 24px;
}
.b-advantages{
	text-align: center;
}
h3.b-main-advantage {
	margin-top: 24px;
	font-family: MuseoSansCyrl-300;
	font-size: 22px !important;
	color: #373737;
	line-height: 34px !important;
	text-align: left;
}
.b-2 h3{
	font-size: 32px;
	line-height: 32px;
}
.b-3{
	padding-top: 0px;
	padding-bottom: 0px;
	background-image: url(../i/back-r.jpg);
	background-size: 100%;
}
.b-3 h2{
	font-size: 32px;
	line-height: 42px;
	text-align: center;
	margin-bottom: 152px;
}
.b-3 p{
	font-family: MuseoSansCyrl-300;
	font-size: 16px;
	color: #373737;
	text-align: left;
	line-height: 26px;
	width: 100%;
	padding: 24px 23px 23px 31px;
	left: 0px;
	margin-bottom: 0px;
}
.b-3 .b-btn{
	left: 0px;
    position: relative;
    top: 48px;
}
.b-4{
	padding-top: 100px;
}
	.b-costs{
		margin-top: 42px;
	}
		.b-cost{
			max-width: none;
			width: 100%;
			margin-bottom: 35px;
		}
			.b-cost img{
				width: 145px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 18px;
			}
			.b-cost h3{
				width: 100%;
				display: inline-block;
				text-align: left;
				font-size: 24px;
				line-height: 28px;

			}
			.b-sign{
				font-size: 18px;
				line-height: 28px;
			}
			.b-text-wrapper{
				width: calc(100% - 167px);
				display: inline-block;
				vertical-align: middle;
			}
			.cost-1{
				left: 0px;
				top: 0px;
			}
			.cost-2{
				left: 0px;
				top: 0px;
			}
			.cost-3{
				left: 0px;
				top: 0px;
			}
			.cost-4{
				left: 0px;
				top: 0px;
			}
			.cost-5{
				left: 0px;
				top: 0px;
				margin-bottom: 0px;
			}
				.cost-1 h3{
				left: 0px;
				top: 0px;
				}
				.cost-2 h3{
					left: 0px;
					top: 0px;
				}
				.cost-3 h3{
					left: 0px;
					top: 0px;
				}
				.cost-4 h3{
					left: 0px;
					top: 0px;
				}
				.cost-5 h3{
					left: 33px;
					top: 0px;
				}
				.cost-1 img{
				left: 0px;
			    top: 10px;
			    position: relative;
				}
				.cost-2 img{
					left: 0px;
					top: 0px;
				}
				.cost-3 img{
					left: 0px;
					top: 0px;
				}
				.cost-4 img{
					left: 0px;
					top: 0px;
				}
				.cost-5 img{
					width: 65px;
    				margin-right: 30px;
				}
	.b-4 .b-main-advantage{
		margin-top: 32px;
		font-family: MuseoSansCyrl-300;
		font-size: 20px !important;
		color: #373737;
		line-height: 28px !important;
	}
		.b-4 .b-main-advantage .lol{
			text-align: center;
			margin-top: 14px;
			margin-bottom: 14px;
		}
.desktop-guide{
	display: none;
}
.mobile-guide{
	display: inline-block;
}
.b-guides-container{
	margin-top: 37px;
}
.b-guide{
	margin-bottom: 25px;
}
.b-guide-circle{
    width: 112px;
    height: 112px;
    vertical-align: middle;
}
	.b-guide-man{
		margin-right: 12px;
	}
	.b-guide-woman{
	    margin-left: 21px;
    	margin-right: 0;
	}
		.b-guide-man .b-guide-photo{
			width: 87px;
			height: 134px;
		}
		.b-guide-woman .b-guide-photo{
			width: 91px;
			height: 134px;
		}
.b-guide-info{
	width: 100%;
}
	.b-guide-woman-title.b-guide-info-title{
		text-align: right;	
	    width: 188px;
	}
	.b-guide-info-title{
		display: inline-block;
		width: 198px;
		vertical-align: middle;
	}
	.b-guide h2{
		font-size: 24px;
		line-height: 28px;
	}
	.b-guide h3{
		font-size: 20px;
		line-height: 28px;
	}
	.b-guide p{
		font-size: 18px;
		line-height: 28px;
	}
.b-slick img{
	width: 376px;
}
	.b-4-2 h2{
		font-size: 32px;
		line-height: 36px;
	}
	.b-4-2 h3{
		font-size: 22px;
		line-height: 30px;
	}

.b-4-3{
	overflow:hidden;
	background-image: url('../i/back4-3-mobile.jpg');
    background-size: cover;
}
.b-4-3 h2{
	margin-bottom: 100px;
}
	.b-review-container{
		padding-bottom: 36px;
	}
		.b-review-human{
			position: absolute;
			bottom: 50%;
			right: 50%;
			-webkit-transform: translate(50%, 50%);
			-ms-transform: translate(50%, 50%);
			-o-transform: translate(50%, 50%);
			transform: translate(50%, 50%);
			z-index: -1;
		}
		.b-review-block{
			width: 100%;
			margin-bottom: 0;
		}
			.b-review{
				padding: 13px 17px 14px 17px;
				background-color: rgba(255,255,255,0.9);
			}
				.b-review-photo{
					width: 46px;
					height: 46px;
				    background-size: cover;
				}
					.b-review h3{
						font-size: 18px;
						line-height: 24px;
					}
					.b-review p{
						font-size: 16px;
						line-height: 24px;
						margin-top: 8px;
					}
			.b-review-container .b-btn{
				display: none;
			}

.b-5{
	padding-top: 26px;
	padding-bottom: 35px;
    background-size: contain;
    background-position: 50% 100px;
}
	.b-5:before{
		height: 219px;
	}
	.b-5 .b-not-quiz{
		display: none;
	}
	.b-5 .b-quiz-1, 
	.b-5 .b-quiz-2{
		padding-top: 0px !important;
	}
	.b-gradient-2{
	    position: absolute;
	    width: 100%;
	    bottom: 0px;
	    background-repeat: repeat-x;
	    height: 209px;
	    background-image: url(../i/gradient-2.png);
	    display: inline-block;
	    left: 0px;
	    z-index: -10;
	}
	.b-5 .b-radio label:before{
		left: 10px;
	}
	.b-5 .b-radio label:after{
		left: 20px;
	}
	.b-5 .b-quiz-form{
	    width: calc(100% + 80px);
		position: relative;
		left: 16px;
		border-radius: 5px;
	}
.slideout-menu{
	width: 250px;
	/* padding-left: 16px; */
}
.menu-header {
    display: block;
    color: #000;
    font-size: 24px;
    padding: 16px 16px;
    border-bottom: 1px solid #eaeaea;
    text-align: left;
    font-family:'MuseoSansCyrl-900';
}
	.menu-wrap h3{
		font-size: 16px;
		text-align: left;
		line-height: 24px;
		padding: 16px 16px;
	}
	#menu li{
		border-bottom: 1px  solid #eaeaea;;
	}
	#menu li:active,
	#menu li a:active{
		background-color: #805ABE;
		color: #fff;
	}
.b-woman{
	position: absolute;
    width: 375px;
    height: 442px;
    background-image: url(../i/back-f.png);
    background-size: cover;
    display: inline-block;
    bottom: 0px;
    left: -24px;
}
.b-5 .b-radio label{
	padding-left: 70px;
}
.b-5 .b-quiz-tour.left{
	margin-left: -24px;
}
.b-3 .with-purple-border{
	box-shadow: 0px 0px 0px 3px #7141BF, 0px 0px 0px 11px rgba(255,255,255,0.5);
}
.b-5 .b-quiz-1{
	padding: 36px 0px 50px;;
}
.b-mobile-menu{
	font-family: MuseoSansCyrl-300;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 36px;
    position: relative;
    margin-left: 44px;
    top: -13px;
    display: block;
}
.b-footer{
	padding-top: 30px;
	padding-bottom: 33px;
}
	.b-footer-right{
	    display: inline-block;
	    float: left;
	    position: relative;
	    width: 100%;
	    height: 28px;
	    margin-top: 21px;
	}
		.b-copyright{
			margin-top: 8px;
		}
		.redder{
			display: inline-block;
		    position: absolute;
		    bottom: 0px;
		    left: 0px;
		}